<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS6131 Database Design</b> </font>

# Project Final Report Submission

### By -

### Submission Instructions

<div class="alert alert-block alert-info">

* You will need to submit the following files in your final project submission:
    * Your Jupyter Notebook report. Name the report `ProjectScriptingReport<YourName>.ipynb`.
    * All relevant image files to be displayed in this report (make sure you use relative file referencing and the image will display in another computer).
    * Attached each file one by one and upload on Coursemology.
* Please print a copy of the final report to OneNote Individual Notebook space > Project. Double check on the image resolution. If the resolution is poor, please copy and paste the ORIGINAL clear image into the OneNote page (paste at the side of the printed image).

* Any submission that fails to comply to the above instructions will result in upto 5% penalty.

* You may wish to refer to the following reference to help organize and "beautify" your final report here. <br>
https://thecodingbot.com/markdown-in-jupyter-ipython-notebook-cheatsheet/
</div>

### Notebook link

Deepnote Link

### Section A: Executive Summary

<div class="alert alert-block alert-warning">
Include your FINAL Executive Summary writeup here. 
</div>

### Overview
Admin work is usually messy, and needing to handle the details of hundreds of projects can cause many issues for teachers, which can results in changes made being lost in the process or not reflected in the most recently sent email. This project provide teachers with a dedicated application to manage the admin mattters of ARP Projects, as well as provides a platform for students to check whether their ARP Project has been listed as ready to present or not with live updates, which removes the need for teachers to send emails revising the excel file of projects that are required to present at research congress.

### Goals
This project aims to be a (theoretical) streamlined application for all ARP Project admin matters, which makes it faster and easier to manage the data. Being an RDBMS, it would also allow students to see the most recent status of their projects (whether they are ready to present).

### Target Users
Teachers overseeing the ARP admin matters and students

### Justification for using RDBMS
It is neater than simply dumping the information onto an excel sheet and sending it to students every time it is revised. (It is consistent). If two teachers were to make changes to the same project at once, the changes made will be resolved correctly rather than the final state from one device potentially overwriting changes made from the other device (Transactions are isolated).

### Section B: Business Rules

<div class="alert alert-block alert-warning">
Include your FINAL Business Rules writeup here.
</div>

There are projects. Each project has an identifying internal code used by the school, as well as its title, its field of study, whether it is still available, whether it is ready to be presented at research congress and whether its poster has been received by the school.

Each project can be submitted as an SSEF project, where it has a uniquely identifying code, as well as whether the forms and poster have been received by the school. The result of the project is also stored, which includes gold, silver, bronze, merit, finalist, participation or unknown.

Every project can have multiple, one or no students contributing to it. Each student can have 0, 1 or more than 1 project. Each student has an identifying student id, as well as their first and last name and current year of study. In this context, their current year of study must be between 5 and 6.

Each project can also have up to one publication, including an identifying link to the publication, as well as the journal it was published in, the publisher of the journal and the date of publication.

External companies may offer one or multiple projects. External companies have an identifying company name, as well as the industry they work in and a contact email in the event that teachers need to contact them.

There are 2 types of mentors, external and internal mentors. Mentors must be only one of the two types. Mentors have an identifying email, as well as a name comprised of an honorific and a surname. Honorifics include (Mr., Ms., Mrs, Dr.). External mentors must be part of an external company. Internal mentors teach a subject in school, and takes care of the admin work of none, one or multiple projects. The subject is represented by a 2 letter code, including (BL, MA, PC, CM, EL, CS). External mentors oversee and guide students on none, one or multiple external projects. It is assumed that if there are no external mentors assigned to the project, it is overseen by the same internal mentor that takes care of its admin work.

### Section C: EER Model

<div class="alert alert-block alert-warning">
Attached the image of your FINAL ER Model here.
</div>

![help](<CS Proj ER Diagram.png>)

### Section D: Relational Model

<div class="alert alert-block alert-warning">
Attached the image of your FINAL Relational Model here.
</div>

![help](<CS Proj Relational Model.png>)

### Section E: DDL Schema

<div class="alert alert-block alert-warning">
Insert your FINAL DDL script here.
    
Please make sure the user is `root` and password is `admin` when you submit.
</div>

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%sql mysql+pymysql://root:admin@localhost/

In [20]:
# PrettyTable dependancy has deprecated the default style so needs to be explicitly configured
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [21]:
%%sql
DROP DATABASE if EXISTS `projectdb`;
CREATE DATABASE `projectdb`;
USE `projectdb`;

CREATE TABLE account (
  username varchar(40) NOT NULL,
  password varchar(255) NOT NULL,
  email varchar(255) NOT NULL,
  PRIMARY KEY (email)
);

CREATE TABLE external_company (
  company_name varchar(255),
  industry varchar(100),
  contact_email varchar(255),
  PRIMARY KEY(company_name)
);

CREATE TABLE internal_mentor (
  email varchar(255),
  honorific varchar(3) NOT NULL,
  surname varchar(50) NOT NULL,
  subject_code char(2),
  PRIMARY KEY(email)
);

CREATE TABLE external_mentor (
  email varchar(255),
  honorific varchar(3) NOT NULL,
  surname varchar(50) NOT NULL,
  company_name varchar(255) NOT NULL,
  FOREIGN KEY(company_name) REFERENCES external_company(company_name) ON DELETE CASCADE ON UPDATE CASCADE,
  PRIMARY KEY(email)
);

CREATE TABLE student (
  studentid char(8),
  fname varchar(50) NOT NULL,
  lname varchar(50) NOT NULL,
  year_of_study int(1) NOT NULL,
  PRIMARY KEY(studentid)
);

CREATE TABLE project (
  internal_code char(5),
  title varchar(255) NOT NULL,
  field_of_study varchar(100),
  taken boolean NOT NULL,
  present_ready boolean NOT NULL,
  poster_received boolean NOT NULL,
  IMemail varchar(255),
  EMemail varchar(255),
  ecompany_name varchar(255),
  PRIMARY KEY(internal_code),
  FOREIGN KEY(EMemail) REFERENCES external_mentor(email) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY(IMemail) REFERENCES internal_mentor(email) ON DELETE SET NULL ON UPDATE CASCADE,
  FOREIGN KEY(ecompany_name) REFERENCES external_company(company_name) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE student_project (
  studentid char(8) NOT NULL,
  internal_code char(5) NOT NULL,
  PRIMARY KEY(studentid, internal_code),
  FOREIGN KEY(studentid) REFERENCES student(studentid) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY(internal_code) REFERENCES project(internal_code) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE publication (
  link varchar(255),
  journal varchar(255),
  publisher varchar(255),
  publication_date date,
  pid char(5) NOT NULL,
  PRIMARY KEY(link),
  UNIQUE (pid),
  FOREIGN KEY(pid) REFERENCES project(internal_code) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE ssef_project (
  ssef_code char(7),
  forms_received boolean NOT NULL,
  poster_received boolean NOT NULL,
  result varchar(13),
  pid char(5) NOT NULL,
  PRIMARY KEY(ssef_code),
  UNIQUE (pid),
  FOREIGN KEY(pid) REFERENCES project(internal_code) ON DELETE CASCADE ON UPDATE CASCADE
);

ALTER TABLE external_company ADD CONSTRAINT CHECK (contact_email LIKE '%@%');
ALTER TABLE internal_mentor ADD CONSTRAINT CHECK (honorific IN ('Mr.', 'Ms.', 'Mrs', 'Dr.'));
ALTER TABLE internal_mentor ADD CONSTRAINT CHECK (email LIKE '%@nus.edu.sg');
ALTER TABLE internal_mentor ADD CONSTRAINT CHECK (subject_code in ('BL', 'MA', 'PC', 'CM', 'EL', 'CS'));
ALTER TABLE external_mentor ADD CONSTRAINT CHECK (honorific IN ('Mr.', 'Ms.', 'Mrs', 'Dr.'));
ALTER TABLE external_mentor ADD CONSTRAINT CHECK (email LIKE '%@%');
ALTER TABLE student ADD CONSTRAINT CHECK (studentid LIKE 'h%');
ALTER TABLE student ADD CONSTRAINT CHECK (year_of_study BETWEEN 5 AND 6);
ALTER TABLE ssef_project ADD CONSTRAINT CHECK (result IN ('gold', 'silver', 'bronze', 'merit', 'finalist', 'participation', 'unknown'));

 * mysql+pymysql://root:***@localhost/
9 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Section F: Data Population Script

<div class="alert alert-block alert-warning">
Insert your FINAL dataset here.
</div>

In [22]:
%%sql
-- bcrypt hash 10 rounds
INSERT INTO account (username, password, email) VALUES ('test', '$2b$10$084IDHTjhLMSEoxsqOyY3ugAEn7V8pUNCkjJaKw7BAaX.T90FzPcO', 'test@testmail.com');

-- Insert data into external_company
INSERT INTO external_company (company_name, industry, contact_email)
VALUES 
    ('TechCorp', 'Technology', 'contact@techcorp.com'),
    ('EduGlobal', 'Education', 'contact@eduglobal.com'),
    ('HealthSolutions', 'Healthcare', 'contact@healthsolutions.com'),
    ('EcoBuild', 'Construction', 'contact@ecobuild.com');

-- Insert data into internal_mentor
INSERT INTO internal_mentor (email, honorific, surname, subject_code)
VALUES 
    ('dr.smith@nus.edu.sg', 'Dr.', 'Smith', 'CS'),
    ('mr.jones@nus.edu.sg', 'Mr.', 'Jones', 'BL'),
    ('mrs.lee@nus.edu.sg', 'Mrs', 'Lee', 'MA'),
    ('dr.koh@nus.edu.sg', 'Dr.', 'Koh', 'PC'),
    ('ms.chan@nus.edu.sg', 'Ms.', 'Chan', 'CS'),
    ('mr.wong@nus.edu.sg', 'Mr.', 'Wong', 'CM'),
    ('mrs.tan@nus.edu.sg', 'Mrs', 'Tan', 'EL'),
    ('ms.seng@nus.edu.sg', 'Ms.', 'Seng', 'MA'),
    ('dr.ng@nus.edu.sg', 'Dr.', 'Ng', 'PC');

-- Insert data into external_mentor
INSERT INTO external_mentor (email, honorific, surname, company_name)
VALUES 
    ('mr.johnson@techcorp.com', 'Mr.', 'Johnson', 'TechCorp'),
    ('ms.doe@techcorp.com', 'Ms.', 'Doe', 'TechCorp'),
    ('mrs.green@eduglobal.com', 'Mrs', 'Green', 'EduGlobal'),
    ('dr.adams@eduglobal.com', 'Dr.', 'Adams', 'EduGlobal'),
    ('mr.white@healthsolutions.com', 'Mr.', 'White', 'HealthSolutions'),
    ('ms.jones@healthsolutions.com', 'Ms.', 'Jones', 'HealthSolutions'),
    ('dr.martin@ecobuild.com', 'Dr.', 'Martin', 'EcoBuild'),
    ('ms.patel@ecobuild.com', 'Ms.', 'Patel', 'EcoBuild'),
    ('mr.carter@techcorp.com', 'Mr.', 'Carter', 'TechCorp'),
    ('mrs.davis@eduglobal.com', 'Mrs', 'Davis', 'EduGlobal'),
    ('dr.kumar@healthsolutions.com', 'Dr.', 'Kumar', 'HealthSolutions'),
    ('ms.williams@ecobuild.com', 'Ms.', 'Williams', 'EcoBuild'),
    ('mrs.james@techcorp.com', 'Mrs', 'James', 'TechCorp');

-- Insert data into student
INSERT INTO student (studentid, fname, lname, year_of_study)
VALUES
    ('h2110001', 'Alice', 'Ng', 5),
    ('h2110002', 'Bob', 'Lim', 5),
    ('h2110003', 'Charlie', 'Tan', 5),
    ('h2110004', 'David', 'Koh', 5),
    ('h2110005', 'Ella', 'Tan', 5),
    ('h2110006', 'Fiona', 'Chong', 5),
    ('h2110007', 'George', 'Ong', 5),
    ('h2110008', 'Hannah', 'Chua', 5),
    ('h2010001', 'Isaac', 'Lee', 6),
    ('h2010002', 'Jack', 'Lim', 6),
    ('h2010003', 'Karen', 'Yeo', 6),
    ('h2010004', 'Leo', 'Soh', 6),
    ('h2010005', 'Megan', 'Tan', 6),
    ('h2010006', 'Nina', 'Tay', 6),
    ('h2010007', 'Oscar', 'Sim', 6),
    ('h2010008', 'Paul', 'Khoo', 6),
    ('h2010009', 'Quincy', 'Ng', 6),
    ('h2010010', 'Rachel', 'Leong', 6),
    ('h2010011', 'Sally', 'Teo', 6),
    ('h2010012', 'Tom', 'Lim', 6),
    ('h2010013', 'Uma', 'Ng', 6),
    ('h2010014', 'Vera', 'Tan', 6),
    ('h2010015', 'Walter', 'Chong', 6),
    ('h2010016', 'Xander', 'Tan', 6),
    ('h2010017', 'Yara', 'Lai', 6),
    ('h2010018', 'Zachary', 'Tay', 6),
    ('h2010019', 'Amy', 'Tan', 6),
    ('h2010020', 'Ben', 'Ong', 6),
    ('h2010021', 'Claire', 'Chong', 6),
    ('h2010022', 'Daniel', 'Yeo', 6),
    ('h2010023', 'Ella', 'Lim', 6),
    ('h2010024', 'Fay', 'Sim', 6),
    ('h2010025', 'Glenn', 'Koh', 6),
    ('h2010026', 'Hannah', 'Teo', 6),
    ('h2010027', 'Ivy', 'Lee', 6),
    ('h2010028', 'Jack', 'Tay', 6),
    ('h2010029', 'Kelly', 'Lim', 6),
    ('h2010030', 'Lily', 'Chua', 6),
    ('h2010031', 'Mike', 'Koh', 6),
    ('h2010032', 'Nina', 'Lee', 6),
    ('h2010033', 'Oscar', 'Chong', 6),
    ('h2010034', 'Paul', 'Teo', 6),
    ('h2010035', 'Quincy', 'Tay', 6),
    ('h2010036', 'Rachel', 'Chong', 6),
    ('h2010037', 'Sally', 'Lim', 6),

    ('h2010038', 'Tom', 'Teo', 6),
    ('h2010039', 'Uma', 'Yeo', 6),
    ('h2010040', 'Vera', 'Chong', 6),
    ('h2010041', 'Walter', 'Tan', 6),
    ('h2010042', 'Xander', 'Chong', 6);

-- Insert data into project
INSERT INTO project (internal_code, title, field_of_study, taken, present_ready, poster_received, EMemail, IMemail, ecompany_name)
VALUES
    ('P0001', 'AI for Smart Devices', 'AI & Healthcare', 1, 1, 1, 'mr.johnson@techcorp.com', 'dr.smith@nus.edu.sg', 'TechCorp'),
    ('P0002', 'Blockchain for Education', 'Blockchain', 1, 1, 1, 'mrs.green@eduglobal.com', 'mr.jones@nus.edu.sg', 'EduGlobal'),
    ('P0003', 'IoT for Healthcare', 'IoT', 1, 1, 1, 'dr.kumar@healthsolutions.com', 'mrs.lee@nus.edu.sg', 'HealthSolutions'),
    ('P0004', 'Sustainable Construction', 'Engineering', 1, 1, 1, 'ms.williams@ecobuild.com', 'mr.wong@nus.edu.sg', 'EcoBuild'),
    ('P0005', 'Cybersecurity Education', 'Cybersecurity', 1, 1, 1, 'dr.adams@eduglobal.com', 'dr.koh@nus.edu.sg', 'EduGlobal'),
    ('P0006', 'Autonomous Construction Vehicles', 'Transportation', 1, 1, 1, 'ms.patel@ecobuild.com', 'ms.chan@nus.edu.sg', 'EcoBuild'),
    ('P0007', 'Data Science for Education', 'Data Science', 1, 1, 1, 'mrs.davis@eduglobal.com', 'mr.jones@nus.edu.sg', 'EduGlobal'),
    ('P0008', 'FinTech for Healthcare', 'Finance', 1, 1, 1, 'dr.adams@eduglobal.com', 'mr.wong@nus.edu.sg', 'HealthSolutions'),
    ('P0009', 'AI for Construction Management', 'AI & Manufacturing', 1, 1, 1, 'dr.martin@ecobuild.com', 'dr.smith@nus.edu.sg', 'EcoBuild'),
    ('P0010', 'Space Exploration', 'Aerospace', 1, 1, 1, 'ms.doe@techcorp.com', 'ms.seng@nus.edu.sg', 'TechCorp'),

    ('P0011', 'Virtual Reality: Unveiling the Future of Computing', 'Computer Science', 1, 1, 1, NULL, 'dr.smith@nus.edu.sg', NULL),
    ('P0012', 'BioTech Revolution: Advancing the Frontiers of Biology', 'Biology', 1, 1, 1, NULL, 'mr.jones@nus.edu.sg', NULL),
    ('P0013', 'MathLab: Unlocking the Secrets of Complex Systems', 'Math', 1, 1, 1, NULL, 'mrs.lee@nus.edu.sg', NULL),
    ('P0014', 'Quantum Horizons: Simulating the Impossible', 'Physics', 1, 1, 1, NULL, 'dr.koh@nus.edu.sg', NULL),
    ('P0015', 'CodeCraft: Mastering Algorithms for the Digital Age', 'Computer Science', 1, 1, 1, NULL, 'ms.chan@nus.edu.sg', NULL),

    ('P0016', 'Wireless Communication in Education', 'Telecommunication', 1, 1, 1, 'mrs.green@eduglobal.com', 'ms.seng@nus.edu.sg', 'EduGlobal'),
    ('P0017', 'Blockchain for Medical Records Security', 'Blockchain', 1, 1, 1, 'ms.jones@healthsolutions.com', 'dr.ng@nus.edu.sg', 'HealthSolutions'),
    ('P0018', 'AI in Finance', 'AI & Healthcare', 1, 1, 0, 'mr.johnson@techcorp.com', 'dr.koh@nus.edu.sg', 'TechCorp'),
    ('P0019', 'IoT for Green Healthcare Facilities', 'IoT', 1, 0, 0, 'dr.kumar@healthsolutions.com', 'mr.jones@nus.edu.sg', 'HealthSolutions'),
    ('P0020', 'Next-Gen Robotics', 'Robotics', 1, 1, 1, 'ms.jones@healthsolutions.com', 'ms.seng@nus.edu.sg', 'HealthSolutions'),
    ('P0021', 'AI Ethics in Technology', 'AI & Healthcare', 1, 0, 0, 'ms.doe@techcorp.com', 'mr.jones@nus.edu.sg', 'TechCorp'),
    ('P0022', 'Blockchain for Educational Infrastructure', 'Blockchain', 1, 1, 1, 'mrs.green@eduglobal.com', 'dr.smith@nus.edu.sg', 'EduGlobal'),
    ('P0023', 'Engineering Resilience', 'Engineering', 1, 1, 1, 'ms.patel@ecobuild.com', 'ms.seng@nus.edu.sg', 'EcoBuild'),
    
    ('P0024', 'Cybersecurity Threats in Education', 'Cybersecurity', 0, 0, 0, 'dr.adams@eduglobal.com', 'dr.koh@nus.edu.sg', 'EduGlobal'),
    ('P0025', 'Telehealth Education Systems', 'Telecommunication', 0, 0, 0, 'mrs.davis@eduglobal.com', 'dr.ng@nus.edu.sg', 'EduGlobal'),
    ('P0026', 'IoT Applications in Healthcare', 'IoT', 0, 0, 0, 'dr.kumar@healthsolutions.com', 'mr.jones@nus.edu.sg', 'HealthSolutions'),
    ('P0027', 'AI for Sustainable Energy', 'AI & Manufacturing', 0, 0, 0, 'mr.carter@techcorp.com', 'dr.koh@nus.edu.sg', 'TechCorp'),
    ('P0028', 'Cloud Solutions for Medical Imaging', 'Cloud Computing', 0, 0, 0, 'ms.doe@techcorp.com', 'ms.seng@nus.edu.sg', 'TechCorp'),
    ('P0029', 'Blockchain for Healthcare Decision-Making', 'Blockchain', 0, 0, 0, NULL, 'ms.chan@nus.edu.sg', NULL),
    ('P0030', 'Virtual Construction Simulators', 'Engineering', 0, 0, 0, NULL, 'dr.smith@nus.edu.sg', NULL);

-- Insert data into student_project
INSERT INTO student_project (studentid, internal_code)
VALUES 
    ('h2110001', 'P0001'), ('h2110002', 'P0001'),
    ('h2110003', 'P0002'), ('h2110004', 'P0002'),
    ('h2110005', 'P0003'), ('h2110006', 'P0003'), ('h2110001', 'P0003'),
    ('h2110007', 'P0004'), ('h2110008', 'P0004'),
    ('h2010001', 'P0005'), ('h2010002', 'P0005'),
    ('h2010003', 'P0006'), ('h2010004', 'P0006'),
    ('h2010005', 'P0007'), ('h2010006', 'P0007'),
    ('h2010007', 'P0008'), ('h2010008', 'P0008'),
    ('h2010009', 'P0009'), ('h2010010', 'P0009'),
    ('h2010011', 'P0010'), ('h2010012', 'P0010'),
    ('h2010013', 'P0011'), ('h2010014', 'P0011'), ('h2010025', 'P0011'),
    ('h2010015', 'P0012'), ('h2010016', 'P0012'),
    ('h2010017', 'P0013'), ('h2010018', 'P0013'), ('h2010001', 'P0013'),
    ('h2010019', 'P0014'), ('h2010020', 'P0014'),
    ('h2010021', 'P0015'), ('h2010022', 'P0015'),
    ('h2010023', 'P0016'), ('h2010024', 'P0016'),
    ('h2010025', 'P0017'), ('h2010026', 'P0017'),
    ('h2010027', 'P0018'), ('h2010028', 'P0018'),
    ('h2010029', 'P0019'), ('h2010030', 'P0019'),
    ('h2010031', 'P0020'), ('h2010032', 'P0020'), ('h2010012', 'P0020'),
    ('h2010033', 'P0021'), ('h2010034', 'P0021'),
    ('h2010035', 'P0022'), ('h2010036', 'P0022'),
    ('h2010037', 'P0023'), ('h2010001', 'P0023');
    
-- Insert data into publication
INSERT INTO publication (link, journal, publisher, publication_date, pid)
VALUES
    ('http://aihealth.com/publications/1', 'Neural Frontiers', 'AI Publishers', '2025-05-01', 'P0001'),
    ('http://blockchainedu.com/publications/1', 'Distributed Ledger Review', 'Blockchain Media', '2025-06-01', 'P0002'),
    ('http://smartcitiesiot.com/publications/1', 'UrbanTech Signals', 'IoT World', '2025-07-01', 'P0003'),
    ('http://sustainableconstruction.com/publications/1', 'EcoStruct Insights', 'Engineering Press', '2025-08-01', 'P0004');

-- Insert data into ssef_project
INSERT INTO ssef_project (ssef_code, forms_received, poster_received, result, pid)
VALUES
    ('SSEF001', 1, 1, 'gold', 'P0001'),
    ('SSEF002', 1, 1, 'silver', 'P0002'),
    ('SSEF003', 1, 1, 'bronze', 'P0003'),
    ('SSEF004', 1, 1, 'bronze', 'P0004'),
    ('SSEF005', 1, 1, 'merit', 'P0005'),
    ('SSEF006', 0, 1, 'participation', 'P0006'),
    ('SSEF007', 1, 1, 'finalist', 'P0007'),
    ('SSEF008', 1, 1, 'unknown', 'P0008'),
    ('SSEF009', 0, 1, 'participation', 'P0009'),
    ('SSEF010', 1, 1, 'finalist', 'P0010'),
    ('SSEF011', 1, 1, 'unknown', 'P0011'),
    ('SSEF012', 0, 1, 'participation', 'P0012'),
    ('SSEF013', 1, 1, 'finalist', 'P0013'),
    ('SSEF014', 1, 1, 'unknown', 'P0014'),
    ('SSEF015', 0, 1, 'participation', 'P0015'),
    ('SSEF016', 1, 1, 'finalist', 'P0016'),
    ('SSEF017', 1, 1, 'unknown', 'P0017'),
    ('SSEF018', 1, 0, 'participation', 'P0018'),
    ('SSEF019', 1, 0, 'finalist', 'P0019'),
    ('SSEF020', 1, 1, 'unknown', 'P0020'),
    ('SSEF021', 1, 0, 'participation', 'P0021');

 * mysql+pymysql://root:***@localhost/
1 rows affected.
4 rows affected.
9 rows affected.
13 rows affected.
50 rows affected.
30 rows affected.
50 rows affected.
4 rows affected.
21 rows affected.

[]

<div class="alert alert-block alert-warning">
Add in relevant select statements to show that your data is populated correctly FOR EACH relation, one cell each relation.
Show only the first 10 records using LIMIT.
</div>

In [23]:
%sql SELECT * FROM account;

 * mysql+pymysql://root:***@localhost/
1 rows affected.

[('test', '$2b$10$084IDHTjhLMSEoxsqOyY3ugAEn7V8pUNCkjJaKw7BAaX.T90FzPcO', 'test@testmail.com')]

In [24]:
%sql SELECT * FROM external_company LIMIT 10;

 * mysql+pymysql://root:***@localhost/
4 rows affected.

[('EcoBuild', 'Construction', 'contact@ecobuild.com'),
 ('EduGlobal', 'Education', 'contact@eduglobal.com'),
 ('HealthSolutions', 'Healthcare', 'contact@healthsolutions.com'),
 ('TechCorp', 'Technology', 'contact@techcorp.com')]

In [25]:
%sql SELECT * FROM internal_mentor LIMIT 10;

 * mysql+pymysql://root:***@localhost/
9 rows affected.

[('dr.koh@nus.edu.sg', 'Dr.', 'Koh', 'PC'),
 ('dr.ng@nus.edu.sg', 'Dr.', 'Ng', 'PC'),
 ('dr.smith@nus.edu.sg', 'Dr.', 'Smith', 'CS'),
 ('mr.jones@nus.edu.sg', 'Mr.', 'Jones', 'BL'),
 ('mr.wong@nus.edu.sg', 'Mr.', 'Wong', 'CM'),
 ('mrs.lee@nus.edu.sg', 'Mrs', 'Lee', 'MA'),
 ('mrs.tan@nus.edu.sg', 'Mrs', 'Tan', 'EL'),
 ('ms.chan@nus.edu.sg', 'Ms.', 'Chan', 'CS'),
 ('ms.seng@nus.edu.sg', 'Ms.', 'Seng', 'MA')]

In [26]:
%sql SELECT * FROM external_mentor LIMIT 10;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[('dr.adams@eduglobal.com', 'Dr.', 'Adams', 'EduGlobal'),
 ('dr.kumar@healthsolutions.com', 'Dr.', 'Kumar', 'HealthSolutions'),
 ('dr.martin@ecobuild.com', 'Dr.', 'Martin', 'EcoBuild'),
 ('mr.carter@techcorp.com', 'Mr.', 'Carter', 'TechCorp'),
 ('mr.johnson@techcorp.com', 'Mr.', 'Johnson', 'TechCorp'),
 ('mr.white@healthsolutions.com', 'Mr.', 'White', 'HealthSolutions'),
 ('mrs.davis@eduglobal.com', 'Mrs', 'Davis', 'EduGlobal'),
 ('mrs.green@eduglobal.com', 'Mrs', 'Green', 'EduGlobal'),
 ('mrs.james@techcorp.com', 'Mrs', 'James', 'TechCorp'),
 ('ms.doe@techcorp.com', 'Ms.', 'Doe', 'TechCorp')]

In [27]:
%sql SELECT * FROM student LIMIT 10;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[('h2010001', 'Isaac', 'Lee', 6),
 ('h2010002', 'Jack', 'Lim', 6),
 ('h2010003', 'Karen', 'Yeo', 6),
 ('h2010004', 'Leo', 'Soh', 6),
 ('h2010005', 'Megan', 'Tan', 6),
 ('h2010006', 'Nina', 'Tay', 6),
 ('h2010007', 'Oscar', 'Sim', 6),
 ('h2010008', 'Paul', 'Khoo', 6),
 ('h2010009', 'Quincy', 'Ng', 6),
 ('h2010010', 'Rachel', 'Leong', 6)]

In [28]:
%sql SELECT * FROM student_project LIMIT 10;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[('h2110001', 'P0001'),
 ('h2110002', 'P0001'),
 ('h2110003', 'P0002'),
 ('h2110004', 'P0002'),
 ('h2110001', 'P0003'),
 ('h2110005', 'P0003'),
 ('h2110006', 'P0003'),
 ('h2110007', 'P0004'),
 ('h2110008', 'P0004'),
 ('h2010001', 'P0005')]

In [29]:
%sql SELECT * FROM project LIMIT 10;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[('P0001', 'AI for Smart Devices', 'AI & Healthcare', 1, 1, 1, 'dr.smith@nus.edu.sg', 'mr.johnson@techcorp.com', 'TechCorp'),
 ('P0002', 'Blockchain for Education', 'Blockchain', 1, 1, 1, 'mr.jones@nus.edu.sg', 'mrs.green@eduglobal.com', 'EduGlobal'),
 ('P0003', 'IoT for Healthcare', 'IoT', 1, 1, 1, 'mrs.lee@nus.edu.sg', 'dr.kumar@healthsolutions.com', 'HealthSolutions'),
 ('P0004', 'Sustainable Construction', 'Engineering', 1, 1, 1, 'mr.wong@nus.edu.sg', 'ms.williams@ecobuild.com', 'EcoBuild'),
 ('P0005', 'Cybersecurity Education', 'Cybersecurity', 1, 1, 1, 'dr.koh@nus.edu.sg', 'dr.adams@eduglobal.com', 'EduGlobal'),
 ('P0006', 'Autonomous Construction Vehicles', 'Transportation', 1, 1, 1, 'ms.chan@nus.edu.sg', 'ms.patel@ecobuild.com', 'EcoBuild'),
 ('P0007', 'Data Science for Education', 'Data Science', 1, 1, 1, 'mr.jones@nus.edu.sg', 'mrs.davis@eduglobal.com', 'EduGlobal'),
 ('P0008', 'FinTech for Healthcare', 'Finance', 1, 1, 1, 'mr.wong@nus.edu.sg', 'dr.adams@eduglobal.com', 'HealthSolutions'),
 ('P0009', 'AI for Construction Management', 'AI & Manufacturing', 1, 1, 1, 'dr.smith@nus.edu.sg', 'dr.martin@ecobuild.com', 'EcoBuild'),
 ('P0010', 'Space Exploration', 'Aerospace', 1, 1, 1, 'ms.seng@nus.edu.sg', 'ms.doe@techcorp.com', 'TechCorp')]

In [30]:
%sql SELECT * FROM publication LIMIT 10;

 * mysql+pymysql://root:***@localhost/
4 rows affected.

[('http://aihealth.com/publications/1', 'Neural Frontiers', 'AI Publishers', datetime.date(2025, 5, 1), 'P0001'),
 ('http://blockchainedu.com/publications/1', 'Distributed Ledger Review', 'Blockchain Media', datetime.date(2025, 6, 1), 'P0002'),
 ('http://smartcitiesiot.com/publications/1', 'UrbanTech Signals', 'IoT World', datetime.date(2025, 7, 1), 'P0003'),
 ('http://sustainableconstruction.com/publications/1', 'EcoStruct Insights', 'Engineering Press', datetime.date(2025, 8, 1), 'P0004')]

In [31]:
%sql SELECT * FROM ssef_project LIMIT 10;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[('SSEF001', 1, 1, 'gold', 'P0001'),
 ('SSEF002', 1, 1, 'silver', 'P0002'),
 ('SSEF003', 1, 1, 'bronze', 'P0003'),
 ('SSEF004', 1, 1, 'bronze', 'P0004'),
 ('SSEF005', 1, 1, 'merit', 'P0005'),
 ('SSEF006', 0, 1, 'participation', 'P0006'),
 ('SSEF007', 1, 1, 'finalist', 'P0007'),
 ('SSEF008', 1, 1, 'unknown', 'P0008'),
 ('SSEF009', 0, 1, 'participation', 'P0009'),
 ('SSEF010', 1, 1, 'finalist', 'P0010')]

### Section G: Queries Script

<div class="alert alert-block alert-warning">
Insert your Section G from phase 2 here. No further changes required / allowed.
</div>

#### Admin Query 1

Admins (teachers) should be able to check the number of projects ssef projects that are from a specific sector that got a specific result to see if projects from external companies did well in ssef.

In [32]:
%%sql
SELECT count(*) AS 'Result'
FROM ssef_project
WHERE pid IN (
    SELECT internal_code 
    FROM project, external_company 
    WHERE ecompany_name = company_name
    AND industry = 'Technology')
GROUP BY result
HAVING result = 'finalist'

 * mysql+pymysql://root:***@localhost/
1 rows affected.

[(1,)]

#### Admin Query 2

Admins (teachers) should be able to check for year 6 students that do not have a project that is ready to be presented at research congress since they need to have at least one to graduate.

In [33]:
%%sql
SELECT studentid, CONCAT(fname, ' ', lname) as name
FROM student
WHERE studentid
NOT IN (
    SELECT DISTINCT studentid
    FROM student_project, project
    WHERE student_project.internal_code = project.internal_code
    AND present_ready = True)
AND year_of_study = 6

 * mysql+pymysql://root:***@localhost/
9 rows affected.

[('h2010029', 'Kelly Lim'),
 ('h2010030', 'Lily Chua'),
 ('h2010033', 'Oscar Chong'),
 ('h2010034', 'Paul Teo'),
 ('h2010038', 'Tom Teo'),
 ('h2010039', 'Uma Yeo'),
 ('h2010040', 'Vera Chong'),
 ('h2010041', 'Walter Tan'),
 ('h2010042', 'Xander Chong')]

### Section H: Stored Program

<div class="alert alert-block alert-warning">
<b>Triggers and Events:</b> <br>
Shortlist at least 2 relevant triggers or scheduled events that are useful for your database system. 
Describe what the trigger/event is for and why it is useful for your DB.
</div>

#### Trigger/Event

Describe the trigger/event here in words

In [34]:
%%sql
-- This section of triggers syncs the poster received for projects
-- that are also ssef projects. 
-- condition is can be derived from respective trigger names

DROP TRIGGER IF EXISTS sync_poster_received_project_update;
CREATE TRIGGER sync_poster_received_project_update
AFTER UPDATE ON project
FOR EACH ROW
BEGIN
    IF NEW.poster_received != OLD.poster_received THEN
        UPDATE ssef_project
        SET poster_received = NEW.poster_received
        WHERE pid = NEW.internal_code AND poster_received != NEW.poster_received;
    END IF;
END;

DROP TRIGGER IF EXISTS sync_poster_received_ssef_update;
CREATE TRIGGER sync_poster_received_ssef_update
AFTER UPDATE ON ssef_project
FOR EACH ROW
BEGIN
    IF NEW.poster_received != OLD.poster_received THEN
        UPDATE project
        SET poster_received = NEW.poster_received
        WHERE internal_code = NEW.pid AND poster_received != NEW.poster_received;
    END IF;
END;

DROP TRIGGER IF EXISTS sync_poster_received_ssef_insert;
CREATE TRIGGER sync_poster_received_ssef_insert
AFTER INSERT ON ssef_project
FOR EACH ROW
BEGIN
    IF (SELECT poster_received FROM project WHERE internal_code = NEW.pid) = TRUE THEN
        UPDATE ssef_project
        SET poster_received = TRUE
        WHERE ssef_code = NEW.ssef_code;
    ELSEIF NEW.poster_received = TRUE THEN
        UPDATE project
        SET poster_received = TRUE
        WHERE internal_code = NEW.pid;
    END IF;
END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [35]:
%%sql
-- This section of triggers syncs the taken status of projects upon
-- changes to the student_project table
DROP TRIGGER IF EXISTS update_project_taken_status_insert;
CREATE TRIGGER update_project_taken_status_insert
AFTER INSERT ON student_project
FOR EACH ROW
BEGIN
    UPDATE project
    SET taken = TRUE
    WHERE internal_code = NEW.internal_code;
END;

DROP TRIGGER IF EXISTS update_project_taken_delete;
CREATE TRIGGER update_project_taken_delete
AFTER DELETE ON student_project
FOR EACH ROW
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM student_project
        WHERE internal_code = OLD.internal_code
    ) THEN
        UPDATE project
        SET taken = FALSE
        WHERE internal_code = OLD.internal_code;
    END IF;
END;

DROP TRIGGER IF EXISTS update_project_taken_update;
CREATE TRIGGER update_project_taken_update
AFTER UPDATE ON student_project
FOR EACH ROW
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM student_project
        WHERE internal_code = OLD.internal_code
    ) THEN
        UPDATE project
        SET taken = FALSE
        WHERE internal_code = OLD.internal_code;
    END IF;

    UPDATE project
    SET taken = TRUE
    WHERE internal_code = NEW.internal_code;
END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [36]:
%%sql
-- This section of triggers prevents the update or insertion of publications
-- and ssef projects for projects that are not taken
DROP TRIGGER IF EXISTS prevent_publication_untaken_insert;
CREATE TRIGGER prevent_publication_untaken_insert
BEFORE INSERT ON publication
FOR EACH ROW
BEGIN
    DECLARE is_taken BOOLEAN;
    
    SELECT taken INTO is_taken
    FROM project 
    WHERE internal_code = NEW.pid;
    
    IF is_taken = FALSE THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Cannot add publication for untaken project';
    END IF;
END;

DROP TRIGGER IF EXISTS prevent_publication_untaken_update;
CREATE TRIGGER prevent_publication_untaken_update
BEFORE UPDATE ON publication
FOR EACH ROW 
BEGIN
    DECLARE is_taken BOOLEAN;
    
    SELECT taken INTO is_taken
    FROM project
    WHERE internal_code = NEW.pid;
    
    IF is_taken = FALSE THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot update publication for untaken project';
    END IF;
END;

DROP TRIGGER IF EXISTS prevent_ssef_untaken_insert;
CREATE TRIGGER prevent_ssef_untaken_insert
BEFORE INSERT ON ssef_project
FOR EACH ROW
BEGIN
    DECLARE is_taken BOOLEAN;
    
    SELECT taken INTO is_taken
    FROM project
    WHERE internal_code = NEW.pid;
    
    IF is_taken = FALSE THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Cannot add SSEF project for untaken project';
    END IF;
END;

DROP TRIGGER IF EXISTS prevent_ssef_untaken_update;
CREATE TRIGGER prevent_ssef_untaken_update 
BEFORE UPDATE ON ssef_project
FOR EACH ROW
BEGIN
    DECLARE is_taken BOOLEAN;
    
    SELECT taken INTO is_taken 
    FROM project
    WHERE internal_code = NEW.pid;
    
    IF is_taken = FALSE THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Cannot update SSEF project for untaken project';
    END IF;
END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [37]:
%%sql
-- This trigger prevents the update of poster_received and
-- present_ready for projects that are not taken
DROP TRIGGER IF EXISTS prevent_untaken_project_update_posterreceived_presentready;
CREATE TRIGGER prevent_untaken_project_update_posterreceived_presentready
BEFORE UPDATE ON project
FOR EACH ROW
BEGIN
    IF (NEW.poster_received != OLD.poster_received OR NEW.present_ready != OLD.present_ready) THEN
        IF NEW.taken = FALSE THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Cannot update poster_received or present_ready for untaken project';
        END IF;
    END IF;
END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [39]:
%%sql
-- This section of triggers validates the presence of external mentor and company
DROP TRIGGER IF EXISTS prevent_project_external_mentor_company_mistmatch_insert;
CREATE TRIGGER prevent_project_external_mentor_company_mistmatch_insert
BEFORE INSERT ON project 
FOR EACH ROW
BEGIN
    IF (NEW.EMemail IS NULL AND NEW.ecompany_name IS NOT NULL) OR 
       (NEW.EMemail IS NOT NULL AND NEW.ecompany_name IS NULL) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'External mentor and company must either be both present or absent';
    END IF;

    IF NEW.EMemail IS NOT NULL AND NEW.ecompany_name IS NOT NULL THEN
        IF NOT EXISTS (
            SELECT 1 
            FROM external_mentor
            WHERE email = NEW.EMemail 
            AND company_name = NEW.ecompany_name
        ) THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'External mentor must belong to the specified company';
        END IF;
    END IF;
END;

DROP TRIGGER IF EXISTS prevent_project_external_mentor_company_mistmatch_update;
CREATE TRIGGER prevent_project_external_mentor_company_mistmatch_update
BEFORE UPDATE ON project
FOR EACH ROW
BEGIN
    IF (NEW.EMemail IS NULL AND NEW.ecompany_name IS NOT NULL) OR 
       (NEW.EMemail IS NOT NULL AND NEW.ecompany_name IS NULL) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'External mentor and company must either be both present or absent';
    END IF;

    IF NEW.EMemail IS NOT NULL AND NEW.ecompany_name IS NOT NULL AND
       (NEW.EMemail != OLD.EMemail OR NEW.ecompany_name != OLD.ecompany_name) THEN
        IF NOT EXISTS (
            SELECT 1 
            FROM external_mentor
            WHERE email = NEW.EMemail 
            AND company_name = NEW.ecompany_name
        ) THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'External mentor must belong to the specified company';
        END IF;
    END IF;
END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Section I: Web UI

<div class="alert alert-block alert-warning">
<b>Instructions:</b> <br>
    
For this deliverable you will write a web application that interacts with your database to manage your domain. This application must allow the user to extract specific information from the database, through a user-friendly interface. 
 
Marks will be given for good webpage design (in terms of navigation, organization and functionality), and aesthetically pleasing webpage.
 
Your web interface should allow you to demonstrate the CRUD (i.e. Create, Read, Update and Delete) operations for 2 user type (admin user and normal user). 

Normal User:
*  <b> Search & Browse page (i.e. Read function):</b> <br>
    Upon login, users can search and browse the “data”. 
Searching is likely the most typical action for a user. The user should be presented with a form to specify their search criteria, and based on the results of the underlying database query, will be presented either a list of matching records or a single matching record if only one was found.
<br>It is not necessary to allow user to search for all tables (and they shouldn't be allowed to!). Select a few tables where the search & browse function make sense.         
* <b> User Info Page:</b> <br>
    - Allow user to register for a new account
    - Allow registered user to login
    - Allow logged in users to view and edit Profile / Account information
    <br>Other notes:
    - Use sessions to ensure only logged in user may access relevant information of to their account. 
    - Relevant data validation should be done.

*  <b>Pages to demo Create, Update & Delete functions on other data. </b>
    
Admin User:
*  <b> Dashboard / Analytics page: </b> <br>
    Upon login, admin user should have a summary of some analytics / statistics.
 
*  <b>Pages to demo Create, Update & Delete functions.</b>

*  <b>Login page where admin user can login.</b>
    
One student should work on Admin user functionalities, while the other work on normal user.

Note that you will need to upload ALL source code for the Web UI for this section.
    
You do not need to screen capture every page, but it should demonstrate that you have done all CRUD functions. You should screen cap the 3 pages where queries in section G is used. 
    
Note that Login, Register and Profile Edit is NOT sufficient to demonstrate CRUD as it has been guided in ISSL. You should demonstrate CRUD on other tables based on shortlisted purpose of your webfrontend.
</div>

## Example of Create
![help](create.png)

## Admin query 1 and example of Read
![help](adminquery1.png)

## Admin query 2 and example of Read
![help](adminquery2.png)

## Example of Update
![help](update.png)

## Example of Delete
![help](delete.png)

### Contribution Log

<div class="alert alert-block alert-warning">
Clearly state the contribution of each member below:
</div>

-

| Task/Module               | Contribution Details                |
|---------------------------|-------------------------------------|
| Section A: Executive Summary | Finished the Section |
| Section B: Business Rules | Finished the Section |
| Section C: EER Model | Finished the Section |
| Section D: Relational Model | Finished the Section |
| Section E: DDL Schema | Finished the Section |
| Section F: Data Population Script | Finished the Section |
| Section G: Queries Script | Finished the Section |
| Section H: Section H: Stored Program | Finished the Section |
| Section I: Web UI | Finished the Section |

### Citations

<div class="alert alert-block alert-warning">
Indicated any references used. If AI is used, please share the full chatlog.
</div>

<hr>
© NUS High School of Math & Science